@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
* {
}
.form-horizontal {
  padding: 25px 0;
  position: relative;
  height: 50%
  
}

form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: #A7C0DC;
  
  color: black;
}


select:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
select:focus {
  background-color: #A7C0DC;
  width: 323px;
  color: black;
}
.btn:hover {
  background-color: #A7C0DC;
}


